<div class="md-toolbar-tools" ng-controller="defaultTmplController">


    <div class="input-group datepickerWd" popover-template="dynamicPopover.templateUrl" popover-placement="bottom" data-toggle="popover">
        <label class="form-control lblWd" data-ng-model="selectedDates"> {{(selectedDates | orderBy)[0] | date:"fullDate"}}
              <span ng-if='selectedDates.length > 1'>
                - {{(selectedDates | orderBy : '-')[0] | date:"fullDate"}}
              </span> </label>
    <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </span>
    </div>
    <button class="md-raised md-primary md-button md-default-theme getHt"  ng-disabled="status" data-ng-model="getdataBtn" ng-click="watchDates()"><span class="ng-scope">Get</span></button>
    <md-button class="md-icon-button toolbar-button" ng-click="toggleNotificationsTab(1)">
        <md-icon md-font-icon="fa fa-filter"></md-icon>
        <!--<span class="toolbar-button-badge" theme-background="accent">2</span>-->
    </md-button>

    <md-menu>
        <md-button aria-label="Open user menu" ng-click="$mdOpenMenu()" aria-label="side navigation">
            <img class="toolbar-user-avatar" src="assets/images/avatars/avatar-5.png">
            BMannava
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="toggleNotificationsTab(2)" aria-label="side navigation">
                    <md-icon md-font-icon="icon-settings"></md-icon>
                    <span translate="ADMIN.TOOLBAR.SETTINGS"></span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="profile()" aria-label="side navigation">
                    <md-icon md-font-icon="icon-person"></md-icon>
                    <span translate="ADMIN.TOOLBAR.PROFILE"></span>
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="logout()" aria-label="side navigation">
                    <md-icon md-font-icon="icon-exit-to-app"></md-icon>
                    <span translate="ADMIN.TOOLBAR.LOGOUT"></span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>

