// Dashboard

// Dashboard Container
.dashboard-container {
  [layout-margin] {
    margin: 0px;
  }
}
// - Chart Container
.dashboard-fullwidth-chart {
  .chart-container {
    position: relative;
    left: -5px;
    bottom: -5px;
    width: calc(100% + 10px);
  }
}

.dashboard-no-bar-tabs {
  md-tabs-wrapper {
    display: none;
  }
}
.google-chart {
  height: 100%;
  width: 100%;
}

// Social Dashboard
.tabs-tall {
  md-pagination-wrapper, md-tabs-canvas {
    height: 72px;
  }
}

div[ng-controller=StoreMap] {
  position: relative;
}

div[ng-controller=StoreMap] #panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

.storeMap{
  height: 600px;
}

[layout-margin] > [flex] {
  margin: 3px;
}

@media (max-width: 599px){
  [layout-margin] > [flex-sm] {
    margin: 0;
  }
}


.storeGrid {
  width: 100%;
  height: 210px;
}

.storeGrid .ui-grid-render-container-body .ui-grid-header-cell,
.storeGrid .ui-grid-render-container-left .ui-grid-header-cell,
.storeGrid .ui-grid-row,
.storeGrid .ui-grid-cell,
.storeGrid .ui-grid-cell .ui-grid-vertical-bar {
  font-weight: 400;
  font-size: small;
}


.gridHeader{
    text-align: center;
    font-weight: 500;
    font-size:x-small;
}

.ui-grid-row {
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
}
.ui-grid-cell {
  background-color: transparent !important;
}
.ui-grid-row-selected {
  background-color: #c9dde1;
}
.topHeaderLbl{
  color: #0095dd;
  font-size: small;
}