// Dashboard

// Dashboard Container
.dashboard-container {
  [layout-margin] {
    margin: 0px;
  }
}
// - Chart Container
.dashboard-fullwidth-chart {
  .chart-container {
    position: relative;
    left: -5px;
    bottom: -5px;
    width: calc(100% + 10px);
  }
}

.dashboard-no-bar-tabs {
  md-tabs-wrapper {
    display: none;
  }
}
.google-chart {
  height: 100%;
  width: 100%;
}

// Social Dashboard
.tabs-tall {
  md-pagination-wrapper, md-tabs-canvas {
    height: 72px;
  }
}

/*div[ng-controller=StoreMap] {
  position: relative;
}
div[ng-controller=StoreMap] #panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -90px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}*/

div[ng-controller=StoreMap] {
  position: relative;
}

div[ng-controller=StoreMap] #panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

.storeMap{
  height: 600px;
}

[layout-margin] > [flex] {
  margin: 3px;
}

@media (max-width: 599px){
  [layout-margin] > [flex-sm] {
    margin: 0;
  }
}

.ng-table {
  border: 1px solid #000;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: grey;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: lightblue;
}

table {
  width: 50%;
  margin-top: 3px;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 5%;

  /*text-align: left;*/
}

tbody {
  height: 155px;

  overflow-y: auto;
}

thead {
  /* fallback */
}


tbody td, thead th {
  width: 15%;
  float: left;
}