<md-content flex layout class="admin-notifications">
    <md-tabs flex md-stretch-tabs="always" md-selected="notificationsTab">
        <md-tab>
            <md-tab-label>
                <md-icon md-font-icon="fa fa-calendar"></md-icon>
            </md-tab-label>
            <md-tab-body>
                <md-content>

                    <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" ng-focus="openDate()"/>

                    By Month : <select class="months" multiple="multiple" style="width: 200px;">
                    <option value="Jan">Jan</option>
                    <option value="Feb">Feb</option>
                    <option value="Mar">Mar</option>
                    <option value="Apr">Apr</option>
                    <option value="May">May</option>
                    <option value="Jun">Jun</option>
                    <option value="Jul">Jul</option>
                    <option value="Aug">Aug</option>
                    <option value="Sep">Sep</option>
                    <option value="Oct">Oct</option>
                    <option value="Nov">Nov</option>
                    <option value="Dec">Dec</option>
                    </select>
                </md-content>
            </md-tab-body>
        </md-tab>
        <!--<md-tab>
            <md-tab-label>
                <md-icon md-font-icon="fa fa-bell-o"></md-icon>
            </md-tab-label>
            <md-tab-body>
                <md-content>
                    By Week : <select class="weeks" multiple="multiple" style="width: 200px;">
                    <option value="Sun">Sun</option>
                    <option value="Mon">Mon</option>
                    <option value="Tue">Tue</option>
                    <option value="Wed">Wed</option>
                    <option value="Thu">Thu</option>
                    <option value="Fri">Fri</option>
                    <option value="Sat">Sat</option>
                    <option value="Sun">Sun</option>
                </select>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <md-icon md-font-icon="icon-person"></md-icon>
            </md-tab-label>
            <md-tab-body>
                <md-content>
                    By Time : <select class="time" multiple="multiple" style="width: 200px;">
                    <option value="12 AM - 3 AM">12 AM - 3 AM</option>
                    <option value="3 AM - 6 AM">3 AM - 6 AM</option>
                    <option value="6 AM - 9 AM">6 AM - 9 AM</option>
                    <option value="9 AM - 12 PM">9 AM - 12 PM</option>
                    <option value="12 PM -  3 PM">12 PM - 3 PM</option>
                    <option value="3 PM  - 6 PM">3 PM - 6 PM</option>
                    <option value="6 PM - 9 PM">6 PM - 9 PM</option>
                    <option value="9 PM - 12 PM">9 PM - 12 PM</option>
                </select>
                </md-content>
            </md-tab-body>
        </md-tab>-->
    </md-tabs>
</md-content>
